.App {

  scroll-behavior: smooth;
}

.resultsSection {
  width: 80%;
  margin: 4vh auto;
}

.events {
  display: flex;
  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
}

.eventMenu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.eventMenu a {
  font-size: 2.6vh;
  text-decoration: none;
}
.singleEvent {
  display: flex;
  flex-direction: column;
}

.weatherBox {
  height: 20%;
  display: flex;
  width: 100%;
  padding: 0vh auto;
  margin: 0;
}

.weatherBox p {
  font-size: 2vh;
}




.eventDisplay {
  
}